// APP TOUR STYLE

.app-tour {
  display: flex;
  margin: 80px 0px 150px 0px;
  @include bp(small) {
    justify-content: center;
    flex-direction: column;
    margin: 70px 20px 50px 20px;
    }
  .app-image {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    display: none;
    @include bp(small) {
      align-items: flex-start;
      text-align: left;
      margin-top: 29px;
      }
      &.active {
        opacity: 1;
        display: block;
      }
    // display: flex;
    // flex-direction: column;
    // justify-content: space-evenly;
    // width: 30%;
    // height: 70%;
  }

  .app-image img {
    margin: 20px;
    height: 80px;
    width: 80px;
    @include bp(small) {
      margin-left: 0px;
      }
  }

  .app-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    // top: 2200px;
    // font-size: 3em;
  }
  .app-text {
    display: flex;
    height: 120px;
    color: #3FBF55;
    font-size: 32px;
    line-height: 32px;
    @include bp(small) {
      align-items: flex-start;
      text-align: left;
      }
      ul {
        z-index: 99;
        color: #3FBF55;
        margin: 0;
        padding: 0;
        display: inline-block;
        cursor: pointer;
          // &:hover {
          //     li {
          //       display: block;
          //         ul {
          //           background-color: black;
          //           display: flex;
          //           flex-direction: column;
          //
          //         }
          //     }
          // }
      }
  }
  .app-text ul ul li{
    display: none;
    transition: all 500ms ease;
  }
  .app-text ul:hover ul li  {
    display: block;
    list-style: none;
    text-decoration: none;
    text-decoration-color: none;
  }

  .app-text ul ul li:hover  {
    text-decoration: none;
    text-decoration-color: none;
  }
  .app-text ul li {
    display: flex;
    align-items: baseline;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    text-decoration: underline;
    text-decoration-color: black;
  }
  .app-text ul li:hover {
    color: white;
    text-decoration: none;
  }

  .skew{
    transform: skew(-25deg, 0deg);
    transition: all 500ms ease;
  }
  .skew:hover {
    background-color: #74E493;
    margin-left: 15px;
    margin-right: 15px;
  }
  .skew-fans{
    transform: skew(-25deg, 0deg);
    transition: all 500ms ease;
  }
  .skew-fans:hover {
    background-color: #74E493;
  }
  .skew-coaches{
    transform: skew(-25deg, 0deg);
    transition: all 500ms ease;
  }
  .skew-coaches:hover {
    background-color: #74E493;
  }
  .app-text ul li {
      transform: skew(25deg, 0deg);
    }

  .app-text ul ul li {
      transform: skew(25deg, 0deg);
  }

  .the-tour {
    margin: 0px;
  }

  .app-text-container {
    display: flex;
    flex-direction: row;
  }


  .app-text p {
    color: #424242;
  	font-family: Helvetica;
  	font-size: 16px;
  	line-height: 20px;
  }
  h3 {
    line-height: 26px;
    font-weight: 500;
    font-size: 24px;
  	font-family: "Helvetica Neue";
  	color: #3FBF55;
  }

  .wrapper {
    display: flex;
      P {
        color: #424242;
        font-family: Helvetica;
        font-size: 16px;
        line-height: 20px;
      }
  }
}

.active {
  display: block!important;
}
.app-image.app-image { display: none; }
.app-image.app-image--active { display: block; }
