.home-backgorund {
  background-image: url('../../../public/themes/IPLAY/images/homepage_bg/iplay-home-bg-desktop.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100vw;
  @include bp(small) {
    background-image: url('../../../public/themes/IPLAY/images/homepage_bg/iplay-home-bg-mobile.png');
  }
}

.home-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  z-index: 0;
}
