.sportsoniplay {
  height: 70vh;
  width: 100%;
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 800px) {
    margin-bottom: 15vh;
  }
  @media screen and (max-width: 600px) {
    height: 130vh;
    width: 90vw;
  }
}

.sportscontainer {
  @media screen and (max-width: 780px) {
    margin-left: 16px;
  }
  height: 32px;
  width: 100%;
  display: flex;
  justify-content: baseline;
  margin-left: 15vw;
    p {
      height: 32px;
      width: 313px;
      color: #3FBF55;
      font-family: Helvetica;
      font-size: 40px;
      font-weight: bold;
      line-height: 32px;
    }
}

.avaliable-now {
  height: 24px;
  width: 150px;
  margin-left: 15.5vw;
  margin-top: 45px;
  color: #424242;
  font-family: Helvetica;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  @media screen and (max-width: 600px) {
    margin-bottom: 19px;
    margin-left: 17px;
  }
}

.sportsiconwrapper {
  margin-top: 35px;
  display: flex;
  height: 15vh;
  width: 90vw;
  flex-wrap: wrap;
  @media screen and (max-width: 600px) {
  margin-bottom: 50px;
  }
}

.sport12-wrap {
  display: flex;
  margin-left: 15vw;
  @media screen and (max-width: 600px) {
    margin-bottom: 20px;
    margin-left: 28px;
  }
}

.sport34-wrap {
  display: flex;
  @media screen and (max-width: 600px) {
    margin-bottom: 20px;
    margin-left: 28px;
  }
}

.sport1-picture {
  background-image: url('../../../public/themes/IPLAY/images/1_football_sports_icon.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 64px;
  width: 64px;
  margin-right: 7.222222222222222vw;
  margin-bottom: 20px;
  @media screen and (max-width: 600px) {
    margin-left: 50px;
    height: 64px;
    width: 64px;
  }
}

.sport2-picture {
  background-image: url('../../../public/themes/IPLAY/images/2_handball_sports_icon.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 64px;
  width: 64px;
  margin-right: 7.222222222222222vw;
  margin-bottom: 20px;
  @media screen and (max-width: 600px) {
    margin-left: 50px;
    height: 64px;
    width: 64px;
  }
}

.sport3-picture {
  background-image: url('../../../public/themes/IPLAY/images/4_basketball_sports_icon.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 64px;
  width: 64px;
  margin-right: 7.222222222222222vw;
  margin-bottom: 20px;
  @media screen and (max-width: 600px) {
    margin-left: 50px;
    height: 64px;
    width: 64px;
  }
}

.sport4-picture {
  background-image: url('../../../public/themes/IPLAY/images/3_bandy_sports_icon.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 64px;
  width: 64px;
  margin-right: 7.222222222222222vw;
  margin-bottom: 20px;
  @media screen and (max-width: 600px) {
    margin-left: 50px;
    height: 64px;
    width: 64px;
  }
}

.coming-soon {
  height: 5vh;
  width: 16vw;
  margin-left: 15vw;
  margin-top: 45px;
  color: #424242;
  font-family: Helvetica;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  @media screen and (max-width: 600px) {
    margin-bottom: 19px;
    margin-left: 17px;
    margin-top: 120px;
  }
}


.coming-sports-wrapper {
  height: 108px;
  display: flex;
  @media screen and (max-width: 800px) {
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
  }
}

.sport56-wrap {
  display: flex;
  @media screen and (max-width: 600px) {
    margin-bottom: 20px;
    margin-left: 20px;
  }
}

.sport78-wrap {
  display: flex;
  @media screen and (max-width: 600px) {
    margin-bottom: 20px;
    margin-left: 20px;
  }
}

.sport910-wrap {
  display: flex;
  @media screen and (max-width: 600px) {
    margin-bottom: 20px;
    margin-left: 20px;
  }
}

.sport5-picture {
  background-image: url('../../../public/themes/IPLAY/images/5_hockey_sports_icon.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 64px;
  width: 64px;
  margin-right: 7.222222222222222vw;
  opacity: .5;
  margin-bottom: 20px;
  @media screen and (max-width: 600px) {
    margin-left: 50px;
    height: 64px;
    width: 64px;
  }
}

.sport-text {
  @media screen and (max-width: 600px) {
    opacity: .5;
    margin-left: 50px;
  }
  opacity: .5;
  margin-left: 0;
}

.sport-text1 {
  @media screen and (max-width: 600px) {
    margin-left: 50px;
  }
}

.sport6-picture {
  background-image: url('../../../public/themes/IPLAY/images/6_esports_sports_icon.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 64px;
  width: 64px;
  margin-right: 7.222222222222222vw;
  opacity: .5;
  margin-bottom: 20px;
  @media screen and (max-width: 600px) {
    margin-left: 50px;
    height: 64px;
    width: 64px;
  }
}

.sport7-picture {
  background-image: url('../../../public/themes/IPLAY/images/7_skiing_sports_icon.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 64px;
  width: 64px;
  margin-right: 7.222222222222222vw;
  opacity: .5;
  margin-bottom: 20px;
  @media screen and (max-width: 600px) {
    margin-left: 50px;
    height: 64px;
    width: 64px;
  }
}

.sport8-picture {
  background-image: url('../../../public/themes/IPLAY/images/8_floorball_sports_icon.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 64px;
  width: 64px;
  margin-right: 7.222222222222222vw;
  opacity: .5;
  margin-bottom: 20px;
  @media screen and (max-width: 600px) {
    margin-left: 50px;
    height: 64px;
    width: 64px;
  }
}

.sport9-picture {
  background-image: url('../../../public/themes/IPLAY/images/10_horsesports_sports_icon.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 64px;
  width: 64px;
  margin-right: 7.222222222222222vw;
  opacity: .5;
  margin-bottom: 20px;
  @media screen and (max-width: 600px) {
    margin-left: 50px;
    height: 64px;
    width: 64px;
  }
}

.sport10-picture {
  background-image: url('../../../public/themes/IPLAY/images/9_sailing_sports_icon.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 64px;
  width: 64px;
  margin-right: 7.222222222222222vw;
  opacity: .5;
  margin-bottom: 20px;
  @media screen and (max-width: 600px) {
    margin-left: 50px;
    height: 64px;
    width: 64px;
  }
}

.coming-soon-text {
  width: 100%;
  height: 40px;
  display: flex;
  margin-left: 1vw;
    p {
      margin-left: 16vw;
      margin-right: -14vw;
      height: 26px;
      width: 136px;
      color: #424242;
      font-family: Helvetica;
      font-size: 16px;
      font-weight: 500;
      line-height: 26px;
      opacity: .5;
    }
}
