// NÖDLÖSNING PGA EJ KLART ARBETE
.testimonials-container {
  background-image: url('../../../public/themes/IPLAY/images/testimonials.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 70vh;
}
