// UNITING SPORT STYLES

.uniting-sport {
  display: flex;
  flex-wrap: wrap;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  @include bp(small) {
    justify-content: center;
  }
  .uniting-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-left: 100px;
    width: 35%;
    @include bp(small) {
      width: 80%;
      text-align: center;
      margin: auto;
      margin-bottom: 10px;
      margin-top: 120px;
    }
    .uniting-text-title {
      color: #3FBF55;
      font-family: HelveticaTitle;
      line-height: 1em;
      word-break: normal;
      font-size: calc(1rem + ((2.5vw - 4.8px) * 1.1111));
      @include bp(small) {
        font-size: calc(1rem + ((6.4vw - 2.2px) * 1.1111));
      }
    }
    .uniting-text-subtitle {
      color: #3FBF55;
      font-family: HelveticaTitle;
      line-height: 1em;
      word-break: normal;
      font-size: calc(1rem + ((1.2vw - 5.8px) * 1.1111));
      @include bp(small) {
        display: none;
      }
    }
    .uniting-text-content {
      line-height: 1em;
      color: #424242;
      font-family: HelveticaText;
      word-break: normal;
      font-size: calc(1rem + ((0.5vw - 7.8px) * 1.1111));
      @include bp(small) {
        display: none;
      }
    }
  }
  .uniting-user-icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    margin-left: 100px;
    width: 450px;
    text-align: center;
    @include bp(small) {
      margin-left: 0px;
      margin-top: 0px;
      transform: translateX(-10%);
    }
    .uniting-image-athletes,
    .uniting-image-fans,
    .uniting-image-coaches,
    .uniting-image-teams,
    .uniting-image-clubs,
    .uniting-image-referees,
    .uniting-image-agents,
    .uniting-image-staff,
    .uniting-image-sponsors,
    .uniting-image-media,
    .uniting-image-institutes,
    .uniting-image-companies, {
      height: 107px;
      width: 140px;
      margin-top: 10px;
      @include bp(small) {
        height: 92px;
        width: 120px;
      }
    }
    .uniting-image-athletes:hover,
    .uniting-image-fans:hover,
    .uniting-image-coaches:hover,
    .uniting-image-teams:hover,
    .uniting-image-clubs:hover,
    .uniting-image-referees:hover,
    .uniting-image-agents:hover,
    .uniting-image-staff:hover,
    .uniting-image-sponsors:hover,
    .uniting-image-media:hover,
    .uniting-image-institutes:hover,
    .uniting-image-companies:hover, {
      width: 170px;
      transition: all 400ms ease;
    }
    img.uniting-image-athletes, {
      transform: translateX(80px);
      @include bp(small) {
        transform: translateX(70px);
      }
    }
    img.uniting-image-fans {
      transform: translateX(40px);
      @include bp(small) {
        transform: translateX(35px);
      }
    }
    img.uniting-image-teams {
      transform: translateX(80px);
      @include bp(small) {
        transform: translateX(70px);
      }
    }
    img.uniting-image-clubs, {
      transform: translateX(40px);
      @include bp(small) {
        transform: translateX(35px);
      }
    }
    img.uniting-image-agents {
      transform: translateX(80px);
      @include bp(small) {
        transform: translateX(70px);
      }
    }
    img.uniting-image-staff, {
      transform: translateX(40px);
      @include bp(small) {
        transform: translateX(35px);
      }
    }
    img.uniting-image-media {
      transform: translateX(80px);
      @include bp(small) {
        transform: translateX(70px);
      }
    }
    img.uniting-image-institutes, {
      transform: translateX(40px);
      @include bp(small) {
        transform: translateX(35px);
      }
    }

    .uniting-color-content {
      color: black;
      font-family: HelveticaText;
      word-break: normal;
      font-size: calc(1rem + ((0.5vw - 7.8px) * 1.1111));
    }
  }
}
.uniting-buy {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  display: none;
  @include bp(small) {
    display: flex;
  }
  margin: 50px 0px 0px 0px;
  .uniting-text-sub-apple,
  .uniting-text-sub-google {
    background-repeat: no-repeat;
    height: 45px;
    width: 140px;
  }
  .uniting-text-sub-apple {
    background-image: url('../../../public/themes/IPLAY/images/storebadges/Download_on_the_App_Store_Badge_US-UK_blk_092917.svg');
  }
  .uniting-text-sub-google {
    background-image: url('../../../public/themes/IPLAY/images/storebadges/google-play-badge.svg');
  }
}
