/* WordPlate */
@import "mixins/mixins";
@import "partials/header";
@import "partials/hamburger";
@import "partials/footer";
@import "partials/home/home";
@import "partials/home/player";
@import "partials/home/hero";
@import "partials/home/unitingsport";
@import "partials/home/apptour";
@import "partials/home/sportsoniplay";
@import "partials/home/testimonials";
@import "partials/home/sports/sports";
@import "partials/home/athlete/athlete";
@import "partials/home/sports/sports_comingsoon";
@import "hamburgers/hamburgers";


@font-face {
    font-family: HelveticaText;
    src: url('../../../public/themes/IPLAY/fonts/HelveticaNeueLTCom-Roman.ttf');
}
@font-face {
    font-family: HelveticaTitle;
    src: url('../../../public/themes/IPLAY/fonts/HelveticaNeueLTCom-Bd.ttf');
}

body, html{
  line-height: 0px!important;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

img.icon_container {
  border: 0px;
  box-shadow: none!important;
  border-radius: 0;
  border-width: 0;
}

* {
  outline: none!important;
}

.container-page {
  width: 100%;
}
