/* WordPlate */

* {
  color: white;
}

// HEADER/MENU STYLE

#hamburger-2.is-active .line:nth-child(1){
  -webkit-transform: translateY(13px);
  -ms-transform: translateY(13px);
  -o-transform: translateY(13px);
  transform: translateY(13px);
}

#hamburger-2.is-active .line:nth-child(3){
  -webkit-transform: translateY(-13px);
  -ms-transform: translateY(-13px);
  -o-transform: translateY(-13px);
  transform: translateY(-13px);
}
.hamburger:hover{
  cursor: pointer;
}
.hamburger-container {
  float: right;
  margin: 20px;
}
.hamburger .line{

  width: 50px;
  height: 5px;
  background-color: #ecf0f1;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}


.nav-color {
  color: white;
  text-decoration-style: none;

}
.nav-color:hover {
  color: white;
}
.skew {
  transform: skewX(-25deg)!important;
  transition: 0.2s;
  transition-timing-function: ease-out;

}
.skew2 {
  transform: skewX(25deg);
}
.skew:hover {
  background-color: #74E493;
  color: white;
}

.menu-container {
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.fixed-position {
  position: fixed;
  top: 0;
  width: 100%;
}

.logo {
  background-image: url('../../../public/themes/IPLAY/images/_Iplay_Apricot_WB_.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 60px;
  width: 60px;
}

.navigation {
  display: flex;
}

.navigation-bar {
  display: flex;
  flex-direction: row;
  margin: 20px;
}

@media screen and (min-width: 737px) {
  .hamburger {
    display: none;
  }
}
@media screen and (max-width: 737px) {
  .menu-container {
    display: none;
  }

}


// FOOTER/MENU STYLE

.footer-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 300px;
  background-color: #666666;
  padding-bottom: 20px;
}

.footer-menu {
  display: flex;
  flex-direction: row;
}


// BLOG

.screenshot2 {
  background-image: url('../../../public/themes/IPLAY/images/screenshot2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 450px;
}
