/* WordPlate */
@import "partials/header";
@import "partials/footer";
@import "partials/home";


* {
  color: white;
}

// BLOG

.screenshot2 {
  background-image: url('../../../public/themes/IPLAY/images/screenshot2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 450px;
}
