// FOOTER/MENU STYLE

.footer-container {
  @media screen and (max-width: 780px){
    border: none;
    height: 100%;
  }
  display: flex;
  height: 602px;
  width: 100%;
  background-color: #424242;
}

.section-wrapper {
  @media screen and (max-width: 780px){
    flex-direction: column;
    border: none;
  }
  display: flex;
  height: 60%;
  width: 100%;
  border-bottom: 2px solid grey;
}

.section1 {
  @media screen and (max-width: 780px) {
    border-top: 2px solid grey;
    height: 427px;
    background-color: #424242;
    order: 5;
    width: 320px;
    margin-left: 16px;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 6.944444444444445vw;
  height: 340px;
  width: 25%;
  background-color: #424242;
  order: 1;
}

.footer-logo {
  @media screen and (max-width: 780px) {
    background-image: url('../../../public/themes/IPLAY/images/iplay-footer-logo.svg');
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    height: 80px;
    width: 219px;
    margin-top: 68px;
    margin-bottom: 16px;
    margin-left: 50px;
  }
  background-image: url('../../../public/themes/IPLAY/images/iplay-footer-logo.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 16px;
  margin-top: 6.944444444444445vw;
  margin-right: 50px;
  height: 60px;
  width: 13.88888888888889vw;
}

.text-under-logo {
  height: 132px;
  width: 219px;
  @media screen and (max-width: 780px) {
    margin-left: 0;
  }
    p {
      @media screen and (max-width: 780px) {
        font-size: 16px;
        color: #A0A0A0;
        line-height: 24px;
        margin-bottom: 152px;
      }
      color: #A0A0A0;
      font-family: Helvetica;
      font-size: 1.1111111111111112vw;
      line-height: 24px;
    }
}

.section2 {
  @media screen and (max-width: 780px) {
    height: 250px;
    margin-left: 17px;
    margin-top: 0;
  }
  order: 2;
  display: flex;
  flex-direction: column;
  margin-top: 6.52991vw;
  height: 240px;
  width: 15%;
  background-color: #424242;
    ul {
      @media screen and (max-width: 780px) {
        font-size: 24px;
        font-family: Helvetica;
        line-height: 32px;
        font-weight: 500;
        color: #A0A0A0;
        list-style: none;
        // height: 265px;
        margin-bottom: 20px;
        width: 100px;
        padding: 0;
      }
      font-size: 24px;
      font-family: Helvetica;
      line-height: 32px;
      font-weight: 500;
      color: #A0A0A0;
      list-style: none;
      height: 265px;
      width: 100px;
        li {
          @media screen and (max-width: 780px) {
            text-decoration: underline;
            line-height: 32px;
            font-size: 16px;
          	color: #A0A0A0;
            font-family: Helvetica;
            margin-bottom: 20px;
          }
          text-decoration: underline;
          line-height: 32px;
          font-size: 1.1111111111111112vw;
        	color: #A0A0A0;
          font-family: Helvetica;
        }
    }
}


.section3 {
  @media screen and (max-width: 780px) {
    height: 100%;
  }
  order: 3;
  height: 270px;
  width: 25%;
  background-color: #424242;
    h2 {
      @media screen and (max-width: 780px) {
        font-size: 24px;
        color: #A0A0A0;
        margin-left: 17px;
      }
      margin-top: 6.444444444444445vw;
      margin-bottom: 20px;
      line-height: 32px;
      font-size: 24px;
      color: #A0A0A0;
      font-family: Helvetica;
    }
    p {
      @media screen and (max-width: 780px) {
        font-size: 16px;
        color: #A0A0A0;
        margin-left: 17px;
        margin-bottom: 18px;
      }
      line-height: 32px;
      font-size: 1.1111111111111112vw;
      color: #A0A0A0;
      font-family: Helvetica;
    }
}

.footer-icons {
  @media screen and (max-width: 780px) {
    display: flex;
    width: 50vw;
    height: 40px;
    margin-left: 17px;
    margin-bottom: 39px;
  }
  display: flex;
  width: 11.458333333333334vw;
  height: 18px;
}

.icon1 {
  background-image: url('../../../public/themes/IPLAY/images/twitter-footer-iplay.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 18px;
  width: 41px;
  @media screen and (max-width: 780px) {
    margin-right: 29px;
    height: 24px;
    width: 24px;
  }
}

.icon2 {
  background-image: url('../../../public/themes/IPLAY/images/facebook-footer-iplay.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 18px;
  width: 41px;
  @media screen and (max-width: 780px) {
    margin-right: 30px;
    height: 24px;
    width: 24px;
  }
}

.icon3 {
  background-image: url('../../../public/themes/IPLAY/images/instagram-footer-iplay.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 18px;
  width: 41px;
  @media screen and (max-width: 780px) {
    margin-right: 29px;
    height: 24px;
    width: 24px;
  }
}

.icon4 {
  background-image: url('../../../public/themes/IPLAY/images/youtube-footer-iplay.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 18px;
  width: 41px;
  @media screen and (max-width: 780px) {
    height: 24px;
    width: 24px;
  }
}



.section4 {
  @media screen and (max-width: 780px){
    border: none;
    margin-left: 0;
    width: 320px;
    height: 220px;
    order: 1;
    margin-left: 17px;
  }
  order: 4;
  height: 340px;
  width: 320;
  margin-left: -80px;
  background-color: #424242;
    h2 {
      @media screen and (max-width: 780px) {
        font-size: 24px;
        line-height: 26px;
        font-family: Helvetica;
      }
      margin-top: 6.444444444444445vw;
      margin-bottom: 20px;
      line-height: 32px;
      font-size: 24px;
      color: #A0A0A0;
      font-family: Helvetica;
    }
    p {
      @media screen and (max-width: 780px) {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 21px;
        font-family: Helvetica;
      }
    line-height: 32px;
    font-size: 1.1111111111111112vw;
    color: #A0A0A0;
    font-family: Helvetica;
    }
}

.input-field {
  display: flex;
  @media screen and (max-width: 780px) {
  width: 280px;
  height: 40px;
  }
}

.input {
  background-color: #FFFEFC;
  width: 200px;
  height: 40px;
  border: 0;
}

.button {
  margin-left: -10px;
  transform: skew(-25deg);
  height: 40.5px;
  background-color: #E91E63;
  display: flex;
  justify-content: center;
  border: 0;
    p {
      margin-top: 6px;
      height: 24px;
      width: 77px;
      color: #FFFEFC;
      font-family: Helvetica;
      font-size: 16px;
      line-height: 24px;
      transform: skew(25deg);
    }
}


.icon-wrapper {
  @media screen and (max-width: 780px){
    flex-direction: column;
    position: relative;
    margin-left: 16px;
    order: 4;
  }
  order: 5;
  display: flex;
  margin-left: 12vw;
  height: 38%;
  position: absolute;
  bottom: 0;
}

.partners {
  @media screen and (max-width: 780px) {
    margin-bottom: 20px;
  }
  margin-right: 2vw;
  color: white;
  height: 26px;
  width: 94px;
  color: #FFFEFC;
  font-family: Helvetica;
  font-size: 24px;
  font-weight: 500;
  line-height: 26px;
}

.barca {
  @media screen and (max-width: 780px) {
    margin-bottom: 40px;
    width: 77.88px;
    height: 79.78px;
  }
  margin-right: 2vw;
  background-image: url('../../../public/themes/IPLAY/images/iplay-footer-fcbarcelona.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 79.78px;
  width: 77.88px;
}

.jl {
  @media screen and (max-width: 780px) {
    margin-bottom: 40px;
    margin-top: 0;
    width: 243px;
    height: 24px;
  }
  margin-top: 4vh;
  margin-right: 2vw;
  background-image: url('../../../public/themes/IPLAY/images/iplay-footer-jlindeberg.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 20px;
  width: 193px;
}

.xps {
  @media screen and (max-width: 780px) {
    margin-top: 0;
    margin-bottom: 40px;
    background-image: url('../../../public/themes/IPLAY/images/iplay-footer-sportcompetence.svg');
    background-position: center;
    background-repeat: no-repeat;
    height: 45px;
    width: 170px;
  }
  margin-top: 4vh;
  background-image: url('../../../public/themes/IPLAY/images/iplay-footer-sportcompetence.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 26px;
  width: 160px;
}

.sportcomp {
  @media screen and (max-width: 780px) {
    width: 180px;
    height: 32px;
    margin-bottom: 50px;
    margin-top: 0;
  }
  margin-top: 4vh;
  margin-right: 2vw;
  background-image: url('../../../public/themes/IPLAY/images/iplay-footer-xps.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 284px;
  height: 32px;
}
