// FOOTER/MENU STYLE

.footer-container {
  display: flex;
  height: 602px;
  width: 100%;
  background-color: #424242;
  padding-bottom: 20px;
}

.section-wrapper {
  display: flex;
  height: 60%;
  width: 100%;
  border-bottom: 2px solid grey;
}

.section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 6.944444444444445vw;
  height: 340px;
  width: 25%;
  background-color: #424242;
}

.footer-logo {
  background-image: url('../../../public/themes/IPLAY/images/iplay-footer-logo.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 195px;
  margin-bottom: 16px;
  margin-top: 6.944444444444445vw;
  margin-left: 140px;
  height: 60px;
  width: 200px;
}

.text-under-logo {
  height: 132px;
  width: 219px;
    p {
      color: #A0A0A0;
      font-family: Helvetica;
      font-size: 16px;
      line-height: 24px;
    }
}

.section2 {
  display: flex;
  flex-direction: column;
  margin-top: 6.52991vw;
  height: 240px;
  width: 15%;
  background-color: #424242;
    ul {
      font-size: 24px;
      font-family: Helvetica;
      line-height: 32px;
      font-weight: 500;
      color: #A0A0A0;
      list-style: none;
      height: 265px;
      width: 100px;
        li {
          text-decoration: underline;
          line-height: 32px;
          font-size: 16px;
        	color: #A0A0A0;
          font-family: Helvetica;
        }
    }
}


.section3 {
  height: 340px;
  width: 25%;
  background-color: #424242;
    h2 {
      margin-top: 6.444444444444445vw;
      margin-bottom: 20px;
      line-height: 32px;
      font-size: 24px;
      color: #A0A0A0;
      font-family: Helvetica;
    }
    p {
      line-height: 32px;
      font-size: 16px;
      color: #A0A0A0;
      font-family: Helvetica;
    }
}

.footer-icons {
  display: flex;
  width: 165px;
  height: 18px;
}

.icon1 {
  background-image: url('../../../public/themes/IPLAY/images/twitter-footer-iplay.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 18px;
  width: 41px;
}

.icon2 {
  background-image: url('../../../public/themes/IPLAY/images/facebook-footer-iplay.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 18px;
  width: 41px;
}

.icon3 {
  background-image: url('../../../public/themes/IPLAY/images/instagram-footer-iplay.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 18px;
  width: 41px;
}

.icon4 {
  background-image: url('../../../public/themes/IPLAY/images/youtube-footer-iplay.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 18px;
  width: 41px;
}



.section4 {
  height: 340px;
  width: 24%;
  margin-left: -80px;
  background-color: #424242;
    h2 {
      margin-top: 6.444444444444445vw;
      margin-bottom: 20px;
      line-height: 32px;
      font-size: 24px;
      color: #A0A0A0;
      font-family: Helvetica;
    }
    p {
    line-height: 32px;
    font-size: 16px;
    color: #A0A0A0;
    font-family: Helvetica;
    }
}

.input-field {
  display: flex;
}

.input {
  background-color: #FFFEFC;
  width: 200px;
  height: 40px;
  border: 0;
}

.button {
  margin-left: -10px;
  transform: skew(-25deg);
  height: 40px;
  width: 100px;
  background-color: green;
  display: flex;
  justify-content: center;
  border: 0;
    p {
      margin-top: 6px;
      height: 24px;
      width: 77px;
      color: #FFFEFC;
      font-family: Helvetica;
      font-size: 16px;
      line-height: 24px;
      transform: skew(25deg);
    }
}

.icon-wrapper {
  display: flex;
  margin-left: 12vw;
  width: 100%;
  height: 38%;
  position: absolute;
  bottom: 0;
}

.partners {
  margin-right: 2vw;
  color: white;
  height: 26px;
  width: 94px;
  color: #FFFEFC;
  font-family: Helvetica;
  font-size: 24px;
  font-weight: 500;
  line-height: 26px;
}

.barca {
  margin-right: 2vw;
  background-image: url('../../../public/themes/IPLAY/images/iplay-footer-fcbarcelona.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 79.78px;
  width: 77.88px;
}

.jl {
  margin-top: 4vh;
  margin-right: 2vw;
  background-image: url('../../../public/themes/IPLAY/images/iplay-footer-jlindeberg.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 20px;
  width: 193px;
}

.xps {
  margin-top: 4vh;
  background-image: url('../../../public/themes/IPLAY/images/iplay-footer-sportcompetence.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 26px;
  width: 160px;
}

.sportcomp {
  margin-top: 4vh;
  margin-right: 2vw;
  background-image: url('../../../public/themes/IPLAY/images/iplay-footer-xps.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 284px;
  height: 32px;
}
