// HEADER/MENU STYLE

// DESKTOP MENU
.nav-color {
  color: #FFFEFC;
  text-decoration-style: none;

}
.nav-color:hover {
  color: #FFFEFC;
}

.nav-color-scroll {
  transition: all 500ms ease;
  color: #424242!important;
}
// .navigation {
//   color: white!important;
// }

a {
  color: white;
}
// .skew {
//   transform: skewX(-25deg)!important;
//   transition: 0.2s;
//   transition-timing-function: ease-out;
//
// }
// .skew2 {
//   transform: skewX(25deg);
// }
.skew:hover {
  background-color: #74E493;
  color: #FFFEFC;
}

.fixed-position {
  transition: all 400ms ease;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 2;
}

.menu-container {
  background-color: rgba(255, 255, 255, 0.64);
}
.icon-container {
  display: flex;
  flex-direction: row;
  @include bp(small) {
    display: none;
  }
  .twitter,
  .facebook,
  .youtube,
  .instagram {
    transition: all 500ms ease;
    background-position: center;
    background-repeat: no-repeat;
    background-color: none;
    height: 21px;
    width: 19px;
    margin: 10px;
  }
  .twitter {
    background-image: url('../../../public/themes/IPLAY/images/twitter-header-iplay.svg');
  }
  .facebook {
    background-image: url('../../../public/themes/IPLAY/images/facebook-header-iplay.svg');
  }
  .youtube {
    background-image: url('../../../public/themes/IPLAY/images/youtube-header-iplay.svg');
  }
  .instagram {
    background-image: url('../../../public/themes/IPLAY/images/instagram-header-iplay.svg');
  }
  .twitter-black,
  .facebook-black,
  .youtube-black,
  .instagram-black {
    transition: all 500ms ease;
    background-position: center;
    background-repeat: no-repeat;
    background-color: none;
    height: 21px;
    width: 19px;
    margin: 10px;
  }
  .twitter-black {
    background-image: url('../../../public/themes/IPLAY/images/twitter-header-iplay-black.svg');
  }
  .facebook-black {
    background-image: url('../../../public/themes/IPLAY/images/facebook-header-iplay-black.svg');
  }
  .youtube-black {
    background-image: url('../../../public/themes/IPLAY/images/youtube-header-iplay-black.svg');
  }
  .instagram-black {
    background-image: url('../../../public/themes/IPLAY/images/instagram-header-iplay-black.svg');
  }
}

.logo {
  background-image: url('../../../public/themes/IPLAY/images/iplay-header-logo.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 60px;
  width: 60px;
}

.navigation-bar ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  @include bp(small) {
    display: none;
  }
}
.navigation-bar ul li {
  float: left;
  width: 120px;
  height: 40px;
  background-color: inherit;
  line-height: 40px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  transform: skew(-25deg, 0deg);
  transition: 0.2s;
  transition-timing-function: ease-out;
}
.navigation-bar ul li a:hover {
  color: #FFFEFC;
}

.navigation-bar ul li a {
  text-decoration: none;
  display: block;
  transform: skew(25deg, 0deg);
}
.navigation-bar ul li:hover {
  background-color: #74E493;
}
.navigation-bar ul li ul li {
  display: none;
}
.navigation-bar ul li ul > .sub-menu{
  background-color: #74E493!important;

}
.navigation-bar ul li:hover ul li {
  display: block;
}
.navigation-bar ul li:hover > .sub-menu li a {
  transform: skew(25deg, 0deg)!important;
}
.navigation-bar ul li:hover > .sub-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 40vw;

}

.navigation-bar li:hover > .sub-menu  {
  transform: skew(25deg, 0deg);
}

.menu-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}
