

.home-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  z-index: 0;
}

.hero {
  display: flex;
  flex-direction: column;
  background-color: #2d2d2d;
  // background-image: url('../../../../public/themes/IPLAY/images/screenshot2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  .hero-text-wrapper {
      display: flex;
      justify-content: center;
      text-align: left;
      margin-top: 150px;
      margin-right: 150px;
    .hero-text {
        width: 40vw;
        word-break: normal;
        font-size: calc(1rem + ((2.5vw - 4.8px) * 1.1111));
    }
  }
  .hero-text-sub-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-right: 250px;
    margin-top: 100px;
    .hero-text-sub {
      width: 20vw;
      word-break: normal;
      font-size: calc(1rem + ((0.5vw - 4.8px) * 1.1111));
    }
  }
}


.uniting-sport {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  .uniting-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-left: 100px;
    width: 35%;
    .uniting-text-title {
      color: black;
      top: 1200px;
      line-height: 1em;
      word-break: normal;
      font-size: calc(1rem + ((2.5vw - 4.8px) * 1.1111));
    }
    .uniting-text-content {
      color: black;
      word-break: normal;
      font-size: calc(1rem + ((0.5vw - 7.8px) * 1.1111));
    }
  }
  .uniting-colors {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-left: 100px;
    width: 35%;
    .uniting-color-title {
      color: black;
      top: 1200px;
      line-height: 1em;
      word-break: normal;
      font-size: calc(1rem + ((2.5vw - 4.8px) * 1.1111));
    }
    .uniting-color-content {
      color: black;
      word-break: normal;
      font-size: calc(1rem + ((0.5vw - 7.8px) * 1.1111));
    }
  }
}

.app-tour {
  display: flex;
  flex-direction: column;
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  .app-image img {
    height: 50%;
    width: 100%;
  }
  .app-text {
    top: 2200px;
    font-size: 3em;
  }
}
