.home-feed {
  height: 600px;
}

.hero {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: auto;
}

.uniting-sport {
  display: flex;
  justify-content: center;
  width: 100%;
}

.app-tour {
  display: flex;
  justify-content: center;
  width: 100%;
}

.news-feed {
  display: flex;
  justify-content: center;
  width: 100%;
}
