.sportsoniplay-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  padding-right: 16px;
  @include bp(small) {

  }
  .iplaysports-text-wrapper {
    width: 100%;
    padding: 0px 0px 10px 0px;
    .iplaysports-text {
      font-size: calc(1rem + ((6.5vw - 3px) * 1.1111));
      font-family: HelveticaTitle;
      font-weight: bold;
      line-height: 32px;
      color: #3FBF55;
    }
  }
  .iplaysports-sub-text-wrapper {
    width: 100%;
    padding-bottom: 20px;
    .iplaysports-sub-text {
      font-size: calc(1rem + ((1.5vw - 3px) * 1.1111));
      font-family: Helvetica;
      color: #085F7A;
      line-height: 24px;
      font-weight: bold;
    }
  }
  .sports-icon-avaliable-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    .football-container,
    .handball-container,
    .basketball-container,
    .bandy-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;
      .sport-football-picture,
      .sport-handball-picture,
      .sport-basketball-picture,
      .sport-bandy-picture {
        height: 104px;
        width: 104px;
      }
    }
    .football-icon-text,
    .handball-icon-text,
    .basketball-icon-text,
    .bandy-icon-text {
      font-size: calc(1rem + ((1.5vw - 3px) * 1.1111));
      color: #424242;
      text-align: center;
      font-weight: 500;
      line-height: 26px;
      padding: 15px;
    }
  }
}
