.sportsoniplay-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0px 16px 60px 16px;
  .iplaysports-text-wrapper {
    width: 100%;
    padding: 0px 0px 10px 0px;
    .iplaysports-text {
      font-size: calc(1rem + ((6.5vw - 3px) * 1.1111));
      font-family: HelveticaTitle;
      font-weight: bold;
      line-height: 32px;
      color: #3FBF55;
    }
  }
  .iplaysports-sub-text-wrapper,
  .coming-soon-text-wrapper {
    width: 100%;
    padding-bottom: 20px;
    .iplaysports-sub-text,
    .coming-soon-text {
      font-size: calc(1rem + ((1.5vw - 3px) * 1.1111));
      font-family: Helvetica;
      color: #085F7A;
      line-height: 24px;
      font-weight: bold;
    }
  }
  .sports-icon-coming-wrapper {
    opacity: 0.5;
  }
  .sports-icon-avaliable-wrapper,
  .sports-icon-coming-wrapper, {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    .football-container,
    .handball-container,
    .basketball-container,
    .bandy-container,
    .hockey-container,
    .esports-container,
    .skiing-container,
    .floorball-container,
    .horsesports-container,
    .sailing-container, {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;
      .sport-football-picture,
      .sport-handball-picture,
      .sport-basketball-picture,
      .sport-bandy-picture,
      .sport-hockey-picture
      .sport-esports-picture,
      .sport-skiing-picture,
      .sport-floorball-picture,
      .sport-horsesports-picture,
      .sport-sailing-picture,
      {
        height: 104px;
        width: 104px;
      }
    }
    .football-icon-text,
    .handball-icon-text,
    .basketball-icon-text,
    .bandy-icon-text,
    .hockey-icon-text,
    .esports-icon-text,
    .skiing-icon-text,
    .floorball-icon-text,
    .horsesports-icon-text,
    .sailing-icon-text, {
      font-size: calc(1rem + ((1.5vw - 3px) * 1.1111));
      color: #424242;
      text-align: center;
      font-weight: 500;
      line-height: 26px;
      padding: 15px;
    }
  }
}
